@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 15px;
    line-height: 1.3;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.01rem;
    color: rgb(107, 107, 107);
}
* {
  box-sizing: border-box;
}
.body{
  width: 50%;
  max-width: 750px;
  min-width: 650px;
  margin: auto;
  padding: 85px 95px;
}
a {
  color: inherit;
  text-decoration: none;
}
p, h4{
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
p span{
  color: #999;
}
h4{
  text-decoration: underline;
}
li{
  list-style: circle;
}
hr{
  border: 0.4px dashed #999;
}
@media only screen and (max-width: 900px){
  .body{
    
  width: 100%;
  margin: auto;
  padding: 85px 110px;
  }
}
@media only screen and (max-width: 600px){
  .body{
    
  width: 100%;
  margin: auto;
  padding: 85px 50px;
  }
}

.openNav{
  display: block !important;
  position: fixed;
  background-color: #fff;
  top: 90px;
  bottom: 0;
  left: 0;
  padding-left: 20px;
}
